name: Documentation Java

on:
  pull_request:
    types: [closed] 
    branches: [main]

jobs:
  build-docs:
    if: github.event.pull_request.merged == true  # ne s'exécute que si la PR a été fusionnée
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'corretto'

      - name: Generate Javadoc
        run: mvn -B javadoc:javadoc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/site/apidocs 
          publish_branch: gh-pages
